#container {
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
}

div{
    text-align: center;
    text-justify: center;
}

.block{
    border-width: 2px;
    border-style: solid;
    border-color: black;
    
}